@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+MX:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: math.div(16, 720) * 100vh;
  font-weight: normal;
  line-height: 120%;
  scroll-behavior: smooth;
  min-height: 100%;
}

@media screen and (max-aspect-ratio: 1440/720) {
  html {
    font-size: math.div(16, 1440) * 100vw;
  }
}

@media only screen and (min-width: 1440px) and (max-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-height: 720px) and (min-aspect-ratio: 1440/720) {
  html {
    font-size: 16px;
  }
}

html {
  @include iftablet {
    font-size: math.div(16, 768) * 100vw;
  }

  @include ifmobile {
    font-size: math.div(16, 390) * 100vw;
  }
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // background: $blue;

  //СКРЫВАЕМ СКРОЛЛ
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  // -ms-overflow-style: none; /* IE и Edge */
  // scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // text-wrap: pretty;
  // hyphens: auto;
  //ДЛЯ ВЫЯВЛЕНИЯ ВЫЛЕЗАЮЩИХ ЗА СТРАНИЦУ БЛОКОВ
  // border: 1px solid red;
}

picture {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  // width: 100%;
  // height: 100%;
  // display: block;
  pointer-events: none;
  -o-object-fit: cover;
  object-fit: cover;
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea::placeholder {
  line-height: 100%;
}
input::placeholder {
  font-weight: 200 !important;
}

//УБИРАЕМ ДЕФОЛТНЫЕ СТРЕЛОЧКИ В ИНПУТ ТИПО НОМЕР
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
  appearance: number-input;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// ОТКЛЮЧАЕМ СТИЛИ АВТОЗАПОЛНЕНИЯ ПОЛЕЙ
input:-internal-autofill-selected,
input:-webkit-autofill {
  &:hover,
  &:focus,
  &:active {
    transition-delay: 9999s !important;
    transition-property: background-color, color !important;
  }
}

@keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
}

.reg-modal {
  display: none;
  min-width: 100%;
  min-height: 120vh;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1090;
  .wrapper {
    width: 100%;
    max-width: 970px;
    height: 558px;
    margin: 0 auto;
    top: 20px;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 94px 114px rgba(121, 121, 121, 0.1);
    border-radius: 100px;
    box-sizing: border-box;
    padding: 58px 80px;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .title {
      line-height: normal;
      font-size: 50px;
      color: #222a33;
      max-width: 511px;
    }
    .img {
      position: absolute;
      right: 57px;
      top: 58px;
      z-index: 12;
    }
    .inputs {
      margin-top: 38px;
      width: 420px;
      position: relative;
      z-index: 13;
      .input {
        display: block;
        width: 400px;
        height: 50px;
        padding: 15px 30px;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 30px;
        line-height: normal;
        font-size: 16px;
        font-weight: 300;
        color: #909499;
        margin-bottom: 10px;
        outline: none;
      }
      .button {
        width: 400px;
        height: 50px;
        box-sizing: border-box;
        background: #ff4f45;
        box-shadow: 0px 24px 34px rgba(255, 106, 42, 0.1);
        border-radius: 30px;
        line-height: 50px;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        position: relative;
        font-weight: bold;
        color: #ffffff;
        display: block;
        .arrow {
          position: absolute;
          top: 20px;
          right: 23px;
        }
      }
    }
  }
}

.thank-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1090;
  .wrapper {
    width: 100%;
    top: 300px;
    max-width: 605px;
    height: 300px;
    background: #ffffff;
    box-shadow: 0px 94px 114px rgba(121, 121, 121, 0.1);
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    .red-close {
      position: absolute;
      top: -10px;
      right: -10px;
      cursor: pointer;
    }
    .thank-bg {
      position: absolute;
      bottom: 0;
      right: 50px;
    }
    .modal-content {
      padding-left: 50px;
      padding-top: 60px;
      .title {
        line-height: 64px;
        font-size: 36px;
        color: #222a33;
      }
    }
  }
}

.hidden {
  display: none;
}

.make-it-slow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

body.no-scroll {
  overflow: hidden;
}

#wpadminbar {
  display: none !important;
}
