.start {
  margin-top: 160px;
  .wrapper {
    max-width: 970px;
    .h2 {
      line-height: normal;
      font-size: 50px;
      text-align: center;
      color: #222a33;
      max-width: 440px;
      margin: 0 auto;
      font-weight: bold;
    }
    .sub-h2 {
      line-height: normal;
      font-size: 16px;
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      color: #222a33;
      margin-top: 20px;
      margin-bottom: 55px;
    }
    .inliner {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -ms-flex;
      display: flex;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: -85px;
      .left.image {
        img {
          position: absolute;
          left: -160px;
        }
      }
      .left.text {
        p {
          width: 280px;
        }
      }
      .right.text {
        width: 360px;
      }
      .right.image {
        img {
          position: absolute;
          right: -130px;
        }
      }
      .image {
        position: relative;
        height: 500px;
        width: 450px;
      }
      .text {
        width: 450px;
        .h3 {
          line-height: normal;
          font-size: 20px;
          color: #222a33;
          padding-bottom: 25px;
          font-weight: bold;
        }
        ul {
          li {
            line-height: normal;
            font-size: 16px;
            color: #222a33;
            list-style-image: url(/images_investor/start-bullet.svg);
            margin-bottom: 22px;
            margin-left: 16px;
            padding-left: 13px;
          }
        }
        p {
          line-height: normal;
          font-size: 16px;
          color: #222a33;
        }
      }
    }
    .with-without {
      font-size: 0;
      .left {
        display: inline-block;
        vertical-align: middle;
        img {
          display: inline-block;
          vertical-align: middle;
          margin-right: 30px;
        }
        .text {
          line-height: normal;
          font-size: 50px;
          color: #222a33;
          display: inline-block;
          vertical-align: middle;
          font-weight: bold;
        }
      }
      .line {
        width: 146px;
        height: 0px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: rotate(90deg);
      }
    }
  }
}
