@media (max-width: 1180px) {
  .header .wrapper .header-top {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .wrapper .pre-h1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .wrapper .h1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .wrapper .sub-h1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .wrapper .right-block {
    margin-left: 20px;
    margin-right: 20px;
  }
  .how-works .wrapper .hows .how-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .how-works .wrapper .hows .how-3 {
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1000;
  }
  .start .wrapper .inliner {
    margin-left: 20px;
    margin-right: 20px;
  }
  .start .wrapper .with-without {
    margin-left: 20px;
    margin-right: 20px;
    .left {
      margin-bottom: 15px;
    }
    .right {
      margin-bottom: 0px;
    }
    .line {
      width: 100%;
      transform: rotate(0deg);
    }
  }
  .tovarooborot .wrapper .with-without {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    .left {
      margin-bottom: 15px;
    }
    .right {
      margin-bottom: 0px;
    }
    .line {
      width: 100%;
      transform: rotate(0deg);
    }
  }
  .tovarooborot .wrapper .h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .tovarooborot .wrapper .bullets {
    margin-left: 20px;
    margin-right: 20px;
  }
  .how-get .wrapper .h2 {
    margin-left: 17px;
    margin-right: 17px;
  }
  .how-get .wrapper .bullets {
    margin-left: 20px;
    margin-right: 20px;
  }
  .why {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1024px) {
  .start .wrapper .with-without {
    margin-bottom: 74px;
  }
  .form {
    background: linear-gradient(90deg, #f46a4f 0%, #f78154 41%, #fda95d 100%);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form .wrapper .form {
    display: none;
  }
  .form .wrapper .h2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .form .wrapper .inputs {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .form .wrapper .text {
    max-width: 480px;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 1060px) {
  .form2 {
    background: #ff4f45;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form2 .wrapper .form {
    display: none;
  }
  .form2 .wrapper .h2 {
    position: static;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .form2 .wrapper .inputs {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .form2 .wrapper .text {
    max-width: 480px;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 1010px) {
  .header-top {
    .logo_desktop {
      display: none;
    }
  }
  .header .wrapper .header-top .logo_mobile {
    display: block;
  }
  .header .wrapper .header-top .header-top__right {
    .header-top__menu {
      display: none;
    }
    .header-top__left-items {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }
  .footer .footer-top .footer-left-items {
    display: none;
  }
}

@media (max-width: 980px) {
  .how-works {
    .wrapper {
      .hows {
        height: auto;
        .how-1,
        .how-2,
        .how-3 {
          display: block;
          position: static;
        }
        .how-1 {
          width: 600px;
          margin: 0 auto;
          float: left;
          margin-left: 20px;
        }
        .how-2 {
          width: 600px;
          margin: 0 auto;
          margin-top: -300px;
          float: right;
          margin-right: -30px;
        }
        .how-3 {
          width: 600px;
          margin: 0 auto;
          float: left;
          margin-left: -33px;
        }
      }
      .bullets {
        margin-top: 0px;
      }
    }
  }
}

@media (max-width: 959px) {
  .start .wrapper .inliner .right.text {
    width: 450px;
  }
}

@media (max-width: 939px) {
  .start .wrapper .inliner {
    margin-top: 0px;
    justify-content: center;
  }
  .start .wrapper .last-block {
    margin-bottom: 120px;
  }
  .start .wrapper .first-block .text {
    order: 1;
  }
  .start .wrapper .last-block .text {
    order: 1;
  }
}

@media (max-width: 920px) {
  .header .wrapper .sub-h1 {
    margin-bottom: 90px;
  }
  .header .wrapper .right-block {
    width: 100%;
    height: 327px;
    position: relative;
    right: 0;
    bottom: auto;
    background: linear-gradient(90deg, #f46a4f 0%, #f78154 41%, #fda95d 100%);
    margin-right: 0px;
    margin-left: 0px;
    .ellipse {
      display: block;
      position: absolute;
      top: -38px;
      left: 20px;
    }
  }
  .header .wrapper .right-block .coin-bg {
    display: block;
  }
  .header .wrapper .right-block .open-wrapper {
    margin-top: 0px;
    margin-left: 20px;
    .copy {
      display: none;
    }
  }
  .header .wrapper .right-block .right-bg {
    display: none;
  }
  .header .wrapper .right-block .open-wrapper .h2 {
    padding-top: 50px;
  }
  .tovarooborot .wrapper .sub-h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 840px) {
  .footer .footer-top .header-top__menu ul {
    display: none;
  }
  .footer .footer-top .header-top__left-items {
    display: none;
  }
}

@media (max-width: 768px) {
  .form {
    height: 600px;
  }
  .form .wrapper .inputs {
    max-width: 280px;
    flex-wrap: wrap;
    .name-input {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
      margin-bottom: 10px;
    }
    .phone-input {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
      margin-bottom: 10px;
    }
    .button {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
    }
  }
  .form2 {
    height: 600px;
  }
  .form2 .wrapper .inputs {
    max-width: 280px;
    flex-wrap: wrap;
    .name-input {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
      margin-bottom: 10px;
    }
    .phone-input {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
      margin-bottom: 10px;
    }
    .button {
      width: 100%;
      border-radius: 25px 25px 25px 25px;
    }
  }
  .why {
    margin-top: 100px;
    padding-bottom: 200px;
    margin-bottom: 80px;
  }
  .why .why-items .vector1 {
    top: -170px;
    right: 0%;
  }
  .why .why-items .vector {
    top: -170px;
    left: 0%;
  }
  .why .why-items .red {
    top: -10px;
    right: -90px;
  }
  .why .why-items .blue {
    top: -10px;
    left: -80px;
  }
  .why .why-items .black {
    top: 300px;
    left: 45%;
  }
}

@media (max-width: 717px) {
  .form2 {
    height: 680px;
  }
  .form2 .wrapper {
    height: 100%;
  }
  .uzn .wrapper .window-block {
    position: static;
    background: linear-gradient(90deg, #f46a4f 0%, #f78154 41%, #fda95d 100%);
    margin-left: 0;
  }
  .uzn {
    min-height: 0;
  }
  .uzn .bg {
    height: 0;
  }
  .uzn .circles-left {
    display: none;
  }
  .uzn .wrapper .window-block .window-bg {
    display: none;
  }
  .uzn .wrapper .window-block .coin-bg {
    display: block;
  }
  .uzn .wrapper {
    padding-top: 0px;
  }
  .uzn .wrapper .window-block .open-wrapper {
    margin-top: 0px;
    padding-top: 60px;
  }
  .uzn .wrapper .window-block .open-wrapper .h2 {
    margin-top: 0px;
  }
}
@media (max-width: 709px) {
  .footer .footer-content {
    padding-bottom: 0px;
  }
  .footer .footer-content .footer-email {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #4e555c;
    margin-bottom: 23px;
  }
  .footer .footer-content .footer-social {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #4e555c;
    margin-bottom: 23px;
  }
}

@media (max-width: 658px) {
  .why {
    height: auto;
    padding-bottom: 0px;
  }
  .why .why-items {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .why .why-items .red {
    display: block;
    position: static;
    margin: 0 auto;
    order: 2;
    margin-bottom: 40px;
  }
  .why .why-items .black {
    display: block;
    position: static;
    margin: 0 auto;
    order: 1;
  }
  .why .why-items .blue {
    display: block;
    position: static;
    margin: 0 auto;
  }
}

@media (max-width: 630px) {
  .uzn .wrapper .window-block {
    height: 350px;
  }
  .uzn .wrapper .window-block .open-wrapper .h2 {
    font-size: 20px;
  }
  .uzn .wrapper .window-block .open-wrapper .text {
    font-size: 16px;
  }
}

@media (max-width: 545px) {
  .header .wrapper .pre-h1 {
    max-width: 163px;
    margin-top: 150px;
    border: none;
    background: none;
    padding: 0px;
    .red {
      display: none;
    }
    .line {
      display: none;
    }
  }
  .header .wrapper .h1 {
    font-size: 30px;
  }
  .header .wrapper .sub-h1 {
    font-size: 16px;
  }
  .how-works {
    .wrapper {
      .h2 {
        font-size: 30px;
        margin-bottom: 25px;
      }
      .hows {
        .how-1,
        .how-2,
        .how-3 {
          display: none;
        }
        .how-1-mobile {
          display: block;
          margin: 0 auto;
          margin-bottom: -220px;
        }
        .how-2-mobile {
          display: block;
          margin: 0 auto;
        }
        .how-3-mobile {
          display: block;
          margin: 0 auto;
          margin-bottom: -150px;
        }
      }
      .bullets {
        .bullet {
          margin-right: 20px;
          margin-left: 20px;
          margin-bottom: 40px;
          .text {
            font-size: 16px;
          }
        }
      }
    }
  }
  .start {
    margin-top: 80px;
  }
  .start .wrapper .h2 {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .start .wrapper .sub-h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .start .wrapper .with-without .left .text {
    font-size: 30px;
  }
  .start .wrapper .with-without .left img {
    width: 144px;
    margin-right: 23px;
  }
  .start .wrapper .with-without .line {
    margin-bottom: 35px;
  }
  .form {
    height: 414px;
  }
  .form .wrapper .inputs {
    margin-bottom: 25px;
  }
  .form .wrapper .h2 {
    font-size: 20px;
    max-width: 277px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .form .wrapper .text {
    font-size: 16px;
    text-align: left;
    max-width: 260px;
  }
  .form2 {
    height: 414px;
  }
  .form2 .wrapper .inputs {
    margin-bottom: 25px;
  }
  .form2 .wrapper .h2 {
    font-size: 20px;
    max-width: 277px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .form2 .wrapper .text {
    font-size: 16px;
    text-align: left;
    max-width: 260px;
  }
  .tovarooborot .wrapper .h2 {
    font-size: 30px;
  }
  .tovarooborot .wrapper .sub-h2 {
    font-size: 16px;
  }
  .tovarooborot .wrapper .bullets .bullet {
    margin-left: 0px;
    margin-right: 0px;
  }
  .tovarooborot .wrapper .with-without .left .text {
    font-size: 30px;
  }
  .tovarooborot .wrapper .with-without .left img {
    width: 144px;
    margin-right: 23px;
  }
  .tovarooborot .wrapper .with-without .line {
    margin-bottom: 35px;
  }
  .how-get .wrapper .h2 {
    font-size: 30px;
  }
  .how-get .wrapper .bullets .bullet {
    margin-left: 0px;
    margin-right: 0px;
  }
  .uzn .wrapper .window-block .open-wrapper .h2 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }
  .uzn .wrapper .window-block .open-wrapper .text {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
  }
  .uzn .wrapper .window-block .open-wrapper .button {
    margin-left: 20px;
  }
  .footer .footer-content .footer-email__title {
    font-size: 16px;
  }
  .footer .footer-content .footer-email__text {
    font-size: 14px;
  }
  .footer .footer-content .footer-social__title {
    font-size: 16px;
    max-width: 194px;
  }
  .footer .footer-content .footer-social__text {
    font-size: 14px;
  }
  .footer .footer-content .footer-address__phone .phone {
    font-size: 20px;
  }
  .footer .footer-content .footer-address__phone .mode {
    padding-left: 45px;
  }
  .footer .footer-content .footer-address__email .email {
    font-size: 20px;
    color: #ffffff;
  }
  .footer .footer-content .footer-address__email .mode {
    padding-left: 45px;
  }
  .why .why-title {
    font-size: 30px;
    max-width: 100%;
  }
}

@media (max-width: 440px) {
  .why .why-items .red {
    display: none;
  }
  .why .why-items .blue {
    display: none;
  }
  .why .why-items .black {
    display: none;
  }
  .why .why-items .red-mobile,
  .why .why-items .black-mobile,
  .why .why-items .blue-mobile {
    display: block;
  }
}

@media (max-width: 320px) {
  .header .wrapper .circles {
    bottom: 142px;
    left: -300px;
    z-index: -1;
    width: 513px;
    transform: rotate(16deg);
    height: 640px;
  }
  .start .wrapper .inliner .right.image img {
    right: -100px;
    width: 500px;
  }
  .start .wrapper .sub-h2 {
    margin-bottom: 0px;
  }
  .start .wrapper .first-block .image {
    margin-bottom: -130px;
  }
  .start .wrapper .second-block .left.image img {
    left: -120px;
    width: 490px;
  }
  .start .wrapper .second-block .image {
    margin-bottom: -130px;
  }
  .start .wrapper .last-block .image {
    margin-bottom: -130px;
  }
  .start .wrapper .last-block {
    margin-bottom: 80px;
  }
  .tovarooborot .wrapper .bullets {
    margin-bottom: 70px;
  }
  .tovarooborot .wrapper .with-without {
    padding-bottom: 50px;
  }
  .tovarooborot .wrapper .bullets .bullet .h3 {
    font-size: 16px;
  }
  .tovarooborot .wrapper .bullets .bullet .text {
    font-size: 14px;
  }
  .how-get {
    padding-top: 50px;
  }
  .how-get .wrapper .bullets .bullet .h3 {
    font-size: 16px;
  }
  .how-get .wrapper .bullets .bullet .text {
    font-size: 14px;
  }
  .why {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 70px;
  }
  .why .why-items .vector {
    top: -120px;
    left: -80%;
  }
  .why .why-items .vector1 {
    top: -120px;
    right: -80%;
  }
}
